# Default registry: npmjs.org for all standard packages
registry=https://registry.npmjs.org/

# Azure Artifacts authentication for staples-hk package
# When staples-hk is requested, npm will use these credentials
always-auth=false

# Authentication for Azure Artifacts feed
//pkgs.dev.azure.com/SPLS/Staples-ChatBot/_packaging/staples-hk/npm/registry/:username=SPLS
//pkgs.dev.azure.com/SPLS/Staples-ChatBot/_packaging/staples-hk/npm/registry/:_password=Q3FpbU9UQmZPbG5iYjJ6WEpZU3hEalMxU3lHVjkyenFjaUNzUkpmU3ZTam9oUEhnWUVKbEpRUUo5OUNBQUNBQUFBQU0weFpRQUFBU0FaRE80b0ls
//pkgs.dev.azure.com/SPLS/Staples-ChatBot/_packaging/staples-hk/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/SPLS/Staples-ChatBot/_packaging/staples-hk/npm/:username=SPLS
//pkgs.dev.azure.com/SPLS/Staples-ChatBot/_packaging/staples-hk/npm/:_password=Q3FpbU9UQmZPbG5iYjJ6WEpZU3hEalMxU3lHVjkyenFjaUNzUkpmU3ZTam9oUEhnWUVKbEpRUUo5OUNBQUNBQUFBQU0weFpRQUFBU0FaRE80b0ls
//pkgs.dev.azure.com/SPLS/Staples-ChatBot/_packaging/staples-hk/npm/:email=npm requires email to be set but doesn't use the value




